<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="ISO-8859-1">
	<title>Inventory HomePage</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container text-center">
		<div>
			<h1>Welcome to Inventory App</h1>
		</div>
		<div class="p2">
			<a class="h2" th:href="@{/categories}">List of Categories</a>
		</div>
		<div class="p-2">
			<a class="h2" th:href="@{/categories/new}">Create Category</a>
		</div>
		<div class="p2">
			<a class="h2" th:href="@{/products}">List of Products</a>
		</div>
		<div class="p-2">
			<a class="h2" th:href="@{/products/new}">Create Product</a>
		</div>
		<div class="p2">
			<a class="h2" th:href="@{/brands}">List of Brands</a>
		</div>
		<div class="p-2">
			<a class="h2" th:href="@{/brands/new}">Create Brand</a>
		</div>
	</div>
</body>
</html>